# The Site Configuration

# Import the theme
theme: jekyll-theme-chirpy

title: Youngho's Devlog # the main title
tagline: steadily every day # it will display as the sub-title
description: >- # used by seo meta and the atom feed
  Youngho's Devlog

# fill in the protocol & hostname for your site, e.g., 'https://username.github.io'
url: "https://jeonyoungho.github.io"

author: jeonyoungho

# the avatar on sidebar, support local or CORS resources
avatar: /assets/img/youngho.png # https://cdn.jsdelivr.net/gh/cotes2020/chirpy-images/commons/avatar.jpg

github:
  username: jeonyoungho # change to your github username

twitter:
  username: jeonyoungho_o # change to your twitter username

social:
  # Change to your full name.
  # It will be displayed as the default author of the posts and the copyright owner in the Footer
  name: jeonyoungho
  email: yhjun1000@gmail.com # change to your email address
  links:
    # The first element serves as the copyright owner's link
    - https://twitter.com/jeonyoungho_o # change to your twitter homepage
    - https://github.com/jeonyoungho # change to your github homepage
    # Uncomment below to add more social links
    - https://www.facebook.com/profile.php?id=100004766491505
    - https://www.instagram.com/jyho_o/
    # - https://www.linkedin.com/in/username

google_site_verification: "eonGeSiIVfF48EnFoJqakC7h2hUzgqxFNJaxkfPiGr0" # change to your verification string
# --------------------------

# Only if your site type is GitHub Project sites and doesn't have a custom domain,
# change below value to '/projectname'.
baseurl: ""

# the HTML language tag › https://www.w3.org/International/questions/qa-choosing-language-tags
lang: ko # en-US

# Change to your timezone › http://www.timezoneconverter.com/cgi-bin/findzone/findzone
timezone: Asia/Seoul

# jekyll-seo-tag settings › https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md
# --------------------------

google_analytics:
  id: "G-RF6ZGDWXV1" # fill in your Google Analytics ID
  # Google Analytics pageviews report settings
  pv:
    proxy_endpoint: # fill in the Google Analytics superProxy endpoint of Google App Engine
    cache_path: # the local PV cache data, friendly to visitors from GFW region

disqus:
  comments: false # boolean type, the global switch for posts comments.
  shortname: '' # Fill with your Disqus shortname. › https://help.disqus.com/en/articles/1717111-what-s-a-shortname
#  shortname: "youngho-devlog" # Fill with your Disqus shortname. › https://help.disqus.com/en/articles/1717111-what-s-a-shortname

codepen_username: jeonyoungho # codepen id

# Prefer color scheme setting.
#
# Note: Keep empty will follow the system prefer color by default,
# and there will be a toggle to switch the theme between dark and light
# on the bottom left of the sidebar.
#
# Available options:
#
#     light  - Use the light color scheme
#     dark   - Use the dark color scheme
#
theme_mode: light # [light|dark]

# boolean type, the global switch for ToC in posts.
toc: true

paginate: 10

# The CDN endpoint for images.
# Notice that once it is assigned, the CDN url
# will be added to all image (site avatar & posts' images) paths starting with '/'
#
# e.g. 'https://cdn.com'
img_cdn: ""

# ------------ The following options are not recommended to be modified ------------------

kramdown:
  highlighter: rouge
  syntax_highlighter: rouge
  syntax_highlighter_opts: # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: highlight
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true # 코드 블록 라인 넘버 유무
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: "" # An empty string here means all files in the project
      type: posts
    values:
      layout: post
      comments: true # Enable comments in posts.
      toc: true # Display TOC column in posts.
      # DO NOT modify the following parameter unless you are confident enough
      # to update the code of all other post links in this project.
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs # see `site.collections`
    values:
      layout: page
      permalink: /:title/
      dynamic_title: true # Hide title in mobile screens.

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - tools
  - docs
  - README.md
  - LICENSE
  - gulpfile.js
  - node_modules
  - "*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
